/* line 2, ../sass/_custom.scss */
.partners .titlePartners {
  margin-bottom: 5em;
}
/* line 5, ../sass/_custom.scss */
.partners img {
  margin-bottom: 1em;
}
/* line 10, ../sass/_custom.scss */
.partners a {
  margin-top: 1em;
}
